<template>
     <form @submit.prevent="addArticle" v-if="edit" class="mb-3">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" accept="image/*" class="custom-file-input" multiple @change="selectImage">
                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                </div>
            </div>
            <div class="row">
                <div v-for="(image, id) in selectedImages" v-bind:key="id" class="col col-md-3 mb-3">
                    <button type="button" class="close" aria-label="Close" v-on:click="unselectImage(id)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img class="w-100" :src="image" alt="Selected Image">
                    
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" v-model="article.title">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="14" placeholder="Body" v-model="article.body"></textarea>
            </div>
            <button type="submit" class="btn btn-success btn-block btn-md col-md-2 offset-md-10">Save</button>
        </form>
</template>
<script>
export default{
    data(){
        return {
            article: {
                id: '',
                title: '',
                body: '',
                image_path: [],
                image_files: []
            },
            article_id: '',
            selectedImages: []
        }
    },
    created(){
        this.fetchArticle();
    },
    methods: {
        fetchArticle(page_url){
            let vm = this;
            page_url = page_url || '/api/article/' + this.article_id

            fetch(page_url)
            .then(res => res.json())
            .then(res => {
                this.article = res.data;
                
            })
            .catch(err => console.log(err));
        },
        saveArticle(){
        
            
                console.log(this.selectedImagesFile);
                fetch("/api/articles", {
                    method: 'put',
                    body: JSON.stringify(this.article),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                .then(res => res.json)
                .then(data => {
                    this.article.title = "";
                    this.article.body = "";
                    alert("Article Updated!");
                    this.edit = false;
                    this.article.article_id = '';
                    this.fetchArticles();
                })
                .catch(err => console.log(err));
                console.log(JSON.stringify(this.article));
           
        },
       
        selectImage(e){
          let files = e.target.files || e.dataTransfer.files;
          if (!files.length)
            return;
          for(let i = 0; i<files.length; i++)
           this.createImage(files[i]);
          
        },
        createImage(file){
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = (e) => {
                this.selectedImages.push(e.target.result);
                let formData = new FormData();
                formData.append(this.selectedImagesFiles.length, file);

                this.selectedImagesFiles.push(formData);
                console.log(file);
            }
        },
        unselectImage(id){
            this.selectedImages.splice(id, 1);
            this.selectedImagesFiles.splice(id, 1);
        }
    }
}

</script>